---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    type?: "button" | "submit";
    size?: "sm" | "md" | "lg" | "normal";
    isfilled?: boolean;
    offdecoration?: boolean;
    theme?:
        | "primary"
        | "primary-menu"
        | "primary-hover"
        | "primary-dark"
        | "danger"
        | "danger-hover"
        | "danger-dark"
        | "info"
        | "info-hover"
        | "info-dark"
        | "disable"
        | "disable-hover"
        | "transparent"
        | "light"
        | "dark"
        | "saseducation"
        | "gdscantina"
        | "classroom"
        | "design-1"
        | "design-2"
        | "design-3";
    classes?: string;
}

const {
    type = "button",
    size = "md",
    isfilled, 
    theme = "light",
    classes,
    ...rest
} = Astro.props;

const background = `var(--${theme})`;
    const color = theme === "primary" ? "light" : `var(--${theme})`;
const border =  `var(--${theme})`;

---

<button
    {type}
    data-size={size}
    class:list={[classes, { filled: isfilled }]}
    {...rest}
>
    <slot />
</button>

<style
    define:vars={{
        color,
        border,
        background,
    }}
>
    :where(button) {

        font-family: "Open Sans", serif;

        /* resets */
        cursor: pointer;

        /* variaveis */
        --bkg: var(--background);
        --brd: var(--border);
        --clr: var(--color);

        /* default styles */
        display: flex;
        gap: 0.6em;
        align-items: center;
        background-color: var(--transparent);
        color: var(--bkg);
        border: 0.2em solid var(--clr);
        border-radius: 1.2rem;
        padding: 0.4em 1.2em;
    }

    :where(button.filled) {
        background-color: var(--bkg);
        color: var(--clr);
        border: var(--brd);
    }

    [data-size="normal"] {
        font-size: 1rem;
    }
    [data-size="sm"] {
        font-size: 0.8rem;
    }
    [data-size="md"] {
        font-size: 1.2rem;
    }
    [data-size="lg"] {
        font-size: 1.6rem;
    }
</style>
