---
// Icons
import { Icon } from 'astro-icon/components';

// Logo
import { Image } from 'astro:assets';
import logo from '../../public/logo-cfsa.svg';

// Navigation Items
const navItems = [

  { label: 'Inicio', href: '#' },
  { label: 'Matrículas', href: '#' },
  {
    label: 'Colégio',
    dropdownItems: [
      { label: 'Nossa História', href: '/Nossa-historia' },
      { label: 'Metodologia de Ensino', href: '/Metodologia-de-ensino' },
      { label: 'Sobre o Colégio', href: '/Sobre-o-colegio' },
      { label: 'Escola de Esportes', href: 'Escola-de-esportes' },
      { label: 'Fale Conosco', href: '/Fale-conosco' },
    ],
  },
  {
    label: 'Segmentos',
    dropdownItems: [
      { label: 'Anos Finais', href: 'Segmentos/Anos-Finais' },
      { label: 'Anos Iniciais', href: 'Segmentos/Anos-Iniciais' },
      { label: 'Ensino Fundamental', href: 'Segmentos/Ensino-Fundamental' },
      { label: 'Ensino Médiol', href: 'Segmentos/Ensino-Medio' },
    ],
  },
  {
    label: 'Acontece no CSFA',
    dropdownItems: [
      { label: 'Item 1', href: '#' },
      { label: 'Item 2', href: '#' },
      { label: 'Item 3', href: '#' },
    ],
  },
]

// Botões Area Restrita
const restrictContent = [
    { label: 'E-mail Aluno', href: '#', iconName:'mail', color:'#fff'},
    { label: 'Google Classroom', href: '#', iconName:'classroom', color:'#388E3C' },
    { label: 'Sas Educação', href: '#', iconName:'sas', color:'#051B4A'},
    { label: 'Activesoft', href: '#', iconName:'activesoft', color:'#0154D4'},
    { label: 'Cantina', href: '#', iconName:'gds', color:'#2D76A3'},
    { label: 'E-mail Coorporativo', href: '#', iconName:'mdi:google', color:'#97989A'},
    { label: 'Interno Apdges', href: '#', iconName:'apadges', color:'#fff'}
]

---

<header class="container__nav fixed top-0 left-0 flex flex-1  flex-row w-[100dvw] h-24 p-6 z-[999]">
  
    <div class="w-full h-20 bg-white rounded-full flex flex-row items-center justify-between p-4">
                     
        <!-- Logo -->
        <div>
            <Image src={logo} alt="Logo colégio" class="h-[70px] w-auto" />
        </div>
        
        <!-- Navigation -->
        <nav class="nav hidden lg:flex h-20 items-center justify-center">
            <ul class="nav__list flex flex-row items-center justify-center gap-8 h-full w-full">
                {navItems.map((item) => (

                    <li class={`nav__list-item item flex flex-row items-center justify-center text-gray-400 h-full transition hover:text-blue-500 ${item.dropdownItems ? 'item-drop relative' : ''}`}>
                        {item.dropdownItems ? (
                            <button class="btn-to-drop flex items-center gap-2" type="button">
                                {item.label}
                                <Icon name="mdi:chevron-down" class="w-5 h-5 transition-transform" />
                            </button>

                            <ul class="nav__list__drop absolute top-full w-52 bg-white border-b-2 border-b-blue-500 rounded-b-md flex flex-1 flex-col shadow-md hidden">
                                {item.dropdownItems.map((dropItem) => (
                                <li class="nav__list__drop-item border-transparent w-full text-gray-400 hover:bg-blue-100 hover:text-blue-500 hover:border-l-blue-500 hover:border-l-4">
                                    <a class="block w-full h-full p-4" href={dropItem.href}>
                                    {dropItem.label}
                                    </a>
                                </li>
                                ))}
                            </ul>
                        ) : (
                            <a href={item.href}>{item.label}</a>
                        )}
                    </li>

                ))}
            </ul>
        </nav>

        <!-- Align Area Restrita and mobile menu button to the right -->
        <div class="flex items-center h-20">
            <div class="flex flex-row items-center relative mr-2 h-20 lg:mr-0">
                <!-- Btn Area Restrita -->
                <button id="restrict" class="flex items-center space-x-2 rounded-lg bg-blue-500 px-2 py-2 text-white hover:bg-blue-700 text-base">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                    <span>Área Restrita</span>
                </button>

                <!-- Drop list Btn -->
                <ul id="droprestrictlist" class="hidden absolute right-0 top-full space-y-1 mt-1 z-20 min-w-[230px] rounded-lg bg-white p-2 border-solid border-2 border-gray-400">
                {restrictContent.map((item) => (
                    <li class={`${item.iconName} w-full rounded-sm`} style={`background-color:${item.color}`}>
                        <a href={`${item.href}`} class={`flex items-center justify-between text-center rounded-md px-4 py-2 text-gray-700 `}>
                            <Icon name={`${item.iconName}`} size={25} />
                            <span class="mx-auto">{item.label}</span>
                        </a>
                    </li>
                ))}
                </ul>  
            </div>
            
            <button id="mobileMenuButton" class="relative h-10 w-10 flex flex-col justify-center items-center rounded-lg p-2 lg:hidden z-[60]" aria-label="Toggle menu">
                <span class="block w-6 h-0.5 bg-slate-50 rounded-full transition-all duration-300 ease-in-out" id="line1"></span>
                <span class="block w-6 h-0.5 bg-slate-50 rounded-full my-1.5 transition-all duration-300 ease-in-out" id="line2"></span>
                <span class="block w-6 h-0.5 bg-slate-50 rounded-full transition-all duration-300 ease-in-out" id="line3"></span>
            </button>
        </div>
    
        <div id="mobileMenu" class="fixed inset-0 z-50 bg-white lg:hidden hidden overflow-y-auto">
            <nav class="p-4 pt-16">
                <ul class="space-y-4 flex flex-col justify-center items-center">

                    <!-- <li><a href="#" class="block text-white hover:text-blue-500">Inicio</a></li> -->

                    {navItems.map(
                            (item) => (

                                <li class={`block text-gray-700 hover:text-blue-500 ${item.dropdownItems ? 'relative' : ''}`}>
                                    {item.dropdownItems ? (
                                        <button class="mobileDropItem flex flex-row items-center justify-center text-gray-700 hover:text-blue-500" type="button">
                                            <span>{item.label}</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                            </svg>                                </button>
            
                                        <ul class="mt-2 space-y-2 pl-4 hidden">
                                            {item.dropdownItems.map((dropItem) => (
                                            <li>
                                                <a class="block text-gray-700 hover:text-blue-500" href={dropItem.href}>
                                                    {dropItem.label}
                                                </a>
                                            </li>
                                            ))}
                                        </ul>
                                    ) : (

                                        <a class="block ttext-gray-700 hover:text-blue-500" href={item.href}>{item.label}</a>
                                    )}
                                </li>
    
                                 )
                            )  
                    }
                    
                    

                </ul>
            </nav>
        </div>
    </div>
   

</header>

<script>

    // Menu Desktop  {(+) 769px}

        // Setup dropdown config
        function setupDropdowns() {
                const dropdowns = document.querySelectorAll('.item-drop');
                
                dropdowns.forEach((dropdown) => {
                    const button = dropdown.querySelector('.btn-to-drop');
                    const list = dropdown.querySelector('.nav__list__drop');
                    const icon = button?.querySelector('svg');
                                 
                    button?.addEventListener('click', () => {
                        list?.classList.toggle('hidden');
                        icon?.classList.toggle('rotate-180');
                    });
                    
                    document.addEventListener('click', (event) => {
                        
                        const targetNode = event.target as Node;       

                        if (!dropdown.contains(targetNode)){
                            list?.classList.add('hidden');
                            icon?.classList.remove('rotate-180');
                        }
                    });
                });
        }

    // Run the setupDropdown function when the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', setupDropdowns);

    // Menu Mobile {(-) 768px}
        const mobileMenuButton = document.getElementById('mobileMenuButton');
        const mobileMenu = document.getElementById('mobileMenu');
        const mobileDropItems = document.getElementsByClassName('mobileDropItem');
        const line1 = document.getElementById('line1');
        const line2 = document.getElementById('line2');
        const line3 = document.getElementById('line3');

        function toggleMenu() {
            mobileMenu?.classList.toggle('hidden');
            document.body.classList.toggle('overflow-hidden');
            mobileMenuButton?.classList.toggle('text-red-500');
            line1?.classList.toggle('rotate-45');
            line1?.classList.toggle('translate-y-2');
            line2?.classList.toggle('opacity-0');
            line3?.classList.toggle('-rotate-45');
            line3?.classList.toggle('-translate-y-2');
        }

        mobileMenuButton?.addEventListener('click', toggleMenu);

        Array.from(mobileDropItems).forEach(item => {
         item.addEventListener('click', (event) => {
                event.preventDefault();
                const dropList = item.nextElementSibling;
                if (dropList) {
                // Close all other dropdowns
                Array.from(mobileDropItems).forEach(otherItem => {
                    if (otherItem !== item) {
                    otherItem.nextElementSibling?.classList.add('hidden');
                    }
                });
                // Toggle the clicked dropdown
                dropList.classList.toggle('hidden');
                }
            });
        });
        
   // Restrict Area
        const buttonRestrict = document.getElementById('restrict');
        const listRestrict = document.getElementById('droprestrictlist');

        function toggleRestrict() {
        listRestrict?.classList.toggle('hidden'); // Efficiently toggle hidden class
        }

        buttonRestrict?.addEventListener('click', (event) => {
        event.stopPropagation(); // Prevent event bubbling
        toggleRestrict();
        });

        document.addEventListener('click', (event) => {
        // Check if event target is a valid Node (prevents unnecessary type checks)
        if (!(event.target instanceof Node)) {
            return;
        }

        const targetNode = event.target as Node;

        // Alternatively, use contains for broader compatibility (might be less performant)
        if (!buttonRestrict?.contains(targetNode) && !listRestrict?.contains(targetNode)) {
            listRestrict?.classList.add('hidden');
        }
        });

</script>

<style type="text/scss">
    .activeClass{
        top: 10%;
        width: 95vw;
        background-color: var(--);
        transition: all .2s ease-in-out;
        border-radius: 100px;
    }
   
    #mobileMenu {
        overflow-y: auto;
        max-height: 100vh;
    }
    body.overflow-hidden {
        overflow: hidden;
    }
    #mobileMenuButton.text-red-500 span {
        background-color: #EF4444;
    }
    #closeMenuButton {
        transition: transform 0.3s ease-in-out;
    }
    #closeMenuButton:hover {
        transform: rotate(90deg);
    }
</style>