---
//Astro Imports Components
import ButtonIcon from './Button/ButtonIcon.astro';
import { Button } from './Button/index.astro';

// Icons
import { Icon } from 'astro-icon/components';

// Astro component script section
const segments = [
  {
    title: "Educação Infantil",
    description: "Primeiros passos da jornada acadêmica, preparando para o ingresso no Ensino Fundamental.",
    image: "/placeholder.svg?height=400&width=400",
    route:"/Segmentos/Educacao-Infantil",
  },
  {
    title: "Ensino Fundamental - Anos Iniciais",
    description: "Base sólida de conhecimento, preparando para o ingresso no Ensino Fundamental.",
    image: "/placeholder.svg?height=400&width=400",
    route:"/Segmentos/Anos-Iniciais",
  },
  {
    title: "Ensino Fundamental - Anos Finais",
    description: "Desenvolvimento integral, preparando para o ingresso no Ensino Fundamental.",
    image: "/placeholder.svg?height=400&width=400",
    route:"/Segmentos/Anos-Finais",
  },
  {
    title: "Ensino Médio",
    description: "Nossos alunos terminam esta etapa preparados para o ingresso no Ensino Fundamental.",
    image: "/placeholder.svg?height=400&width=400",
    route:"/Segmentos/Ensino-Medio",
  },
];
---

<div class="h-auto w-full relative overflow-hidden">

    {/* Decorative elements */}
    <div>

        <!-- Quadrado superior -->
        <div class="absolute top-14 right-4 w-32 h-32 bg-yellow-400 rounded-xl z-20 rotate-45"></div>

        <!-- Circulo superior -->
        <div class="absolute top-72 -left-10 w-64 h-60 bg-yellow-400 rounded-full z-10"></div>

        <!-- Barra lateral -->
        <div class="absolute top-0 right-0 w-4 h-[100%] bg-pink-500 z-10 sm:w-10 md:w-14 lg:w-32 "></div>

        <!-- Circulo inferior -->
        <div class="absolute bottom-0 -right-16 w-56 h-52 bg-yellow-400 rounded-full z-10 before:content-[''] before:absolute before:h-20 before:rounded-full before:w-20 before:bg-cyan-400 before:-bottom-10"></div>

    </div>

    {/* Main content */}
    <main class="h-auto w-full flex flex-col justify-center items-center bg-gradient-to-t from-[#00137D] to-[#0154D4]">

        {/* Segments section */}
        <section class="flex flex-col justify-center items-center p-4 pt-12 w-full h-auto z-20">
          <!-- Section Title -->
          <h2 class="title text-white text-[1.2rem] font-bold mb-8">Segmentos</h2>

          <!-- Card Grid -->
          <!-- grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8  -->
          <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 gap-8 mt-4 lg:grid-cols-4">
            {segments.map((segment) => (
              <a 
                href={segment.route} 
                class="aspect-auto group relative bg-[#121B3D] rounded-lg overflow-hidden w-[15rem] h-[15rem] hover:shadow-lg transition-shadow block "
              >
                <img
                  src={segment.image}
                  alt={segment.title}
                  class="w-full h-[200px] object-cover"
                  width="400"
                  height="400"
                />
                <div class="absolute inset-0 bg-gradient-to-t from-black/80 to-black/20 p-6 flex flex-col justify-end">
                  <h3 class="text-white text-[1rem] font-semibold mb-2 w-full">{segment.title}</h3>
                  <p class="text-white/80 text-[10px]">{segment.description}</p>
                  <svg 
                    class="absolute top-4 right-4 w-6 h-6 text-white opacity-0 group-hover:opacity-100 transition-opacity"
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                  >
                    <path d="M7 17L17 7" />
                    <path d="M7 7h10v10" />
                  </svg>
                </div>
              </a>
            ))}
          </div>
        </section>

        {/* About section */}
        <section class=" mt-16 flex flex-col justify-center items-center p-8 w-full h-auto gap-6 lg:grid grid-cols-2 max-w-[1024px]">
          
            <!-- O colégio  -->
            <div class="flex flex-auto flex-col text-white w-full px-2 gap-6 max-w-[550px] lg:items-left max-w-[90%] ">

                  <!-- Título sobre o Colégio -->
                  <h2 class="title text-[1.2rem] text-center font-bold mb-4 max-w-44 m-auto lg:m-0 max-w-80 ">
                      O Colégio São Francisco de Assis
                  </h2>

                  <!-- Texto Sobre o Colégio -->
                  <p class="text-white/80 text-[.8rem] text-center lg:text-left">
                      No Colégio São Francisco de Assis, acreditamos que a educação é a chave para a transformação social. 
                      Nossos alunos são jovens protagonistas, preparados para enfrentar os desafios do mundo com ética e 
                      criatividade. Aqui, oferecemos um ambiente acolhedor e uma educação de qualidade, desenvolvendo não 
                      apenas habilidades acadêmicas, mas também valores essenciais.
                  </p>

                  <!-- Botões de Acão Sobre o Colégio -->
                  <div class="flex flex-1 flex-col w-full gap-6 items-center justify-center text-[.8rem] sm:flex-row lg:justify-start" >

                    <!-- Botão Contate o Colégio -->
                        
                    <!-- Botão Sobre o Colégio -->
                        

                  </div>

            </div>

            <!-- Video apresentação -->
            <video class="w-full h-full rounded-md z-30" autoplay muted controls>
              <source src="/videos/colsaofrancisco.mp4" type="video/mp4">
              Seu navegador não suporta &it;video&gt; tag
            </video>
        
        </section>

    </main>

</div>

<style>
  .title{
    position: relative;
  }

  .title::after{
    content: '';
    position: absolute;
    z-index: 20;
    bottom: -5px;
    width: 60px;
    height: 4px;
    background-color: var(--csfa-style-pink-700);
    border-radius: 100px;
    left: -10px;  
  }
</style>