---
import '../../../styles/globals.css'
import {segmentos} from './segmentos.js';


import SiteLayout from '../../../layouts/SiteLayout.astro';

export function getStaticPaths(){
    return segmentos.map((seg) => ({
        params: {segmento: seg.titulo}
    }));

}
const {segmento} = Astro.params;

const currentSegmento = segmentos.find((s) => s.href === segmento);

export const prerender = true;
---


<SiteLayout title={currentSegmento?.titulo} description="">


   <div class="w-[100dvw] h-[40dvh] overflow-hidden relative bg-black">
        <h1 class="z-20 text-[60px] font-semibold text-white absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">{currentSegmento?.titulo}</h1>
        <img class="w-full h-full object-cover opacity-70" src={currentSegmento?.src} alt="image">
   </div>

   <p class="mt-5 p-2 text-slate-200">
        {currentSegmento?.descricao}
   </p>

</SiteLayout>