---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  description: string;
  imageUrl: string;
  link: string;
}

// Extraindo propriedades para clean code
const { title, description, link, imageUrl } = Astro.props;
---

<a 
  href={link} 
  class="card-container block w-64 h-64 rounded-[.5rem] overflow-hidden bg-[#1E3A8A] shadow-md"
  rel="noopener noreferrer"
>
  <div class="card relative w-full h-full">
    <!-- Imagem com Lazy Loading -->
    <img 
      src={imageUrl} 
      alt={`Imagem de ${title}`} 
      class="card-image w-full h-full object-cover" 
      loading="lazy" 
    />

    <!-- Ícone de ação -->
    <div class="card-icon">
      <Icon class="icon-rotate absolute top-4 right-4 bg-white text-slate-800 rounded-full p-2 -rotate-45" name="mdi:arrow-right" />
    </div>

    <!-- Conteúdo descritivo -->
    <div class="card-content absolute bottom-0 w-full p-4 bg-gradient-to-t from-[#121B3D] via-[#1e3a8a80] to-[#0000001a] text-white text-left">
      <h3 class="card-title text-lg font-medium mb-2">{title}</h3>
      <p class="card-description text-sm">{description}</p>
    </div>
  </div>
</a>